@charset "utf-8";
*,*:after, *:before {box-sizing: border-box;}

body {font: 0.9rem "돋움"; font-weight: bold;}
#join_header{width: 100%; padding-top:15px;
             background: rgba(255, 167, 226, 0.438); 
              line-height: 60px;}
#join_header{text-align: center;}

#join_mem{ width: 100% 0; 
           position: absolute; left: 50%; top:50%; 
           transform: translate(-50%,-50%);}
     

 header>.close2{cursor: pointer; position: relative; float: left; left: 90%;
        background: transparent;
        border:none; outline: none; 
        font-size: 3.5rem; color: rgb(54, 12, 12); }
#join_mem label{display: block; padding-left: 3px; margin-bottom: 2px;
color:rgb(0, 0, 0); font-weight: bold;}

#id1{float: both; margin-bottom: 10px;}
#id2{float: right; position:absolute; left:225px; font-weight: bold;
      line-height: 35px; width: 60px; text-align: center; background: rgb(240, 2, 113);
    color: rgb(252, 253, 255); border-radius: 20px; font-weight: bold;top: 23px;}
#id{ float:both; font-size: 0.8rem; 
    color: rgb(255, 102, 0); font-weight: bold; 
    margin-bottom:10px;}

#pw{ float:both; font-size: 0.8rem; 
        color: rgb(255, 102, 0); font-weight: bold; 
        margin-bottom:10px ;}

#join_mem input:hover {background: transparent; border: 2px solid hotpink;} 


#join_mem input{margin-bottom: 5px; margin:8px 8px; display: inline-block;
border:2px solid rgb(150, 150, 150); color: rgb(78, 29, 0); font-size: 1rem;
line-height: 1rem; width: 130px; background: transparent; padding: 3px 5px;}

#button{margin-top: 80px;}
#button input { background: rgba(65, 65, 65, 0.473);
    height: 60px; cursor: pointer;display: inline-block;
    width:100%; color:rgb(255, 255, 255); font-size: 1.2rem; font-weight: bold; }
#button input:hover {background: rgb(255, 3, 129);  color:rgb(255, 255, 255);}               
#ph {width:150px!important;}
#adress {width:350px!important;}
#adress1{width: 250px!important;}
#id{width: 200px!important;}

