@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Stylish&display=swap');

*,*:after, *:before {box-sizing: border-box;}
a {text-decoration: none;}
body{width: 100%;}


header {width:100%; z-index: 10000; position: fixed; top:0;background: #fff;
        height:60px; line-height: 50px; padding-top: 10px;}
header h1 {text-align: center; }   	
header h1 img {position: absolute;left:50%;top:50%;transform: translate(-50%,-50%); }     
.s {position: absolute;top:18px;right:75px; width: 22px;}
.c {position: absolute;top:10px;right:15px;}


            .hamburger { 
                background:none;
                position:absolute;  
                top:5px;  
                left:0; 
                line-height:30px;  
                padding:10px 20px; 
                color:#353535; 
                border:0;  
                font-size:2em; 
                font-weight:bold;    
                cursor:pointer; 
                outline:none;  
                z-index:100000; 
            } 
            
            .cross { width:30px!important;
                background:none; 
                position:absolute; 
               /*  left:-30px; */
			   right:10px;
                top:10px;
                color:rgb(48, 17, 17);  
                border:0;   
                font-size:3.5rem;
                line-height:45px;
                font-weight:bold; 
                cursor:pointer;
                outline:none;   
                z-index:100000;  
				         /*  display:none; */
            }
            
			button.cross {font-size:3.5rem!important;color:#fff!important;}
            
            .menu1 {
                width:65%; 
                height:100%; 
                position:fixed;
                top:0;
                font-size:0.8rem;
                font-weight: bold;
                background: #fff; 
           
				/* left:0; */
		left:-65%;
                z-index: 100000; 
			
            }

            .mm>li {
                padding:19px 0;
            }
            
            .menu1 ul {
                padding:0 10px 0
                ;height:100%;
            }
            
            .menu1 .mm >li {
                padding:15px 0;
                position: relative;  
                text-indent: 20px;
            }       
            
            .mm li img {
                position: absolute;
                right:10px;
                top:15px;
                width:15px;
            }   
            
            .menu1 ul{
                color: #000000;
                
            }
            
            .mm >li >a {
                color:#4d4d4d;
                font-family: 'Jua', sans-serif;
                font-size: 1.1rem;
            }
            
            .sub1 {
                text-align: center;
               display: block;
                padding:0 15px; 
                font-family: 'Jua', sans-serif;
                display: none;
                
                
            }
            .sub1 li {
                padding:0;
                
            }
            
            .sub1 li a {
                padding:3px 0;
                display:block;
                color:rgb(231, 29, 79)
            }	   
            
            .sub1 >li {
                height:40px;
                line-height:40px;
                text-align:left;
                text-indent:15px;
            }


#main {width:100%; position: relative; overflow: hidden;padding-top: 60px; margin-bottom: 10px; }
#main img {width:100%;}
#main ul {position: relative; left:0; width:400%;}
#main ul li {width:25%; float:left;}

#roll {position:absolute; bottom:5px; left: 50%; transform: translateX(-50%);}
#roll a {display: inline-block; width: 10px; height: 10px; border-radius: 5px;
background: #fff; margin-right: 5px;}
#roll a:nth-child(4) {margin-right: 5px;}
#roll .on{background: #c01c53;}


h1.line { position: relative; text-align: center; padding: 40px 16px 0 16px !important;
        margin-bottom: -14px;}
.line:before {position: absolute; top:23px; left:3.4%; text-align: center;
             content:""; width:92.5%; height:1px; background: #330000; }  
.line a {display:inline-block;position: absolute; top:-5px; left:50%;
       transform: translateX(-50%);height:12px;}  
.line img {height:100%;}

.best_menu {background: url(../img/br_back.jpg); margin: 30px 0;}

.best_menu ul li{display: inline-block;}
.best img{width:155px;} 

 .sub_menu{border: 3px solid hotpink; margin:10px; 
           border-radius: 30px 0 30px 0;
        padding: 10px; font-size: 0.65rem; background: rgba(255, 255, 255, 0.592);  }

.sub_menu ul{display: inline-block; border-left: 2.5px solid rgb(177, 177, 177); }
.sub_menu ul:nth-child(2){border-left: none;}

.del{float: left; text-align: center;width: 50%; padding: 10px;}
.del h2{text-align: center; font-size: 1.2rem; 
        padding-bottom: 5px; 
        color: #330000;
        font-family: 'Stylish', sans-serif;}
.del h5{text-align: center; font-size: 1.1rem; padding-top: 5px;
         text-align: center; background: rgba(255, 251, 0, 0.664);
        color: rgb(84, 27, 27); border-radius: 10px; line-height: 15px;
        font-family: 'Cute Font', cursive;}
.del img{width: 100%; position: relative; bottom:15px; }

.fast{text-align: center; width: 50%; padding: 10px; text-align: center; }
.fast h2{text-align: center;font-size: 1.1rem; color:#330000;
        font-family: 'Stylish', sans-serif;}
.fast h5{text-align: center; font-size: 1.2rem; padding-top: 5px;
        text-align: center;  margin-top: 5px; font-family: 'Cute Font', cursive;
       color: rgb(84, 27, 27);background: rgba(255, 251, 0, 0.664); border-radius: 10px; line-height: 15px; margin-left: 30px;}
.fast img{width: 50%; margin-top: 15px; position: relative; left: 25px;}



h2.line1 { position: relative; text-align: center; padding: 40px 16px 0 16px !important;
        margin-bottom: -14px; margin-top: 20px;}
.line1:before {position: absolute; top:23px; left:3.4%; text-align: center;
             content:""; width:92.5%; height:1px; background: #330000; }  
.line1 a {display:inline-block;position: absolute; top:3px; left:50%;
       transform: translateX(-50%);height:12px;}  
.line1 img {height:110%;}

#menu {background: url(../img/back.png)}
#menu img{padding: 10px; width:100%}
.Main_manu img  {transform: scale(1); transition:.3s ease-in-out;}
.Main_manu :hover img  {transform: scale(1.1);}

h4 {text-align: center; 
        font-family: 'Noto Sans KR', sans-serif;

        position: relative; 
        padding: 20px 30px 0 16px !important; 
        font-size: 0.9rem}
.bv1{text-align:left;  }
.bv1 img{width: 100%;}





h3.line2 { position: relative; text-align: center; padding: 40px 20px 0 16px !important;
        margin-top: 20px;
        }
.line2:before {position: absolute; top:23px; left:4.4%; text-align: center;
             content:""; width:92.5%; height:1px; background: #330000; }  
.line2 a {display:inline-block;position: absolute; top:10px; left:50%;
       transform: translateX(-50%);height:12px;}  
.line2 img {height:110%;}

	
#video { position:relative;  	
        padding-bottom:56.25%;
        /*화면비율  16:9 케이스*/ 		
        overflow:hidden; padding-top: 90px;}
#video iframe {position:absolute; top:0;  left:0;
        width:100%; height:100%; padding-top: 25px; }
       


h4.line3 { position: relative; text-align: center; padding: 40px 16px 0 16px !important;
        margin-bottom: -14px; margin-top: 20px;}
.line3:before {position: absolute; top:23px; left:4.4%; text-align: center;
             content:""; width:91.2%; height:1px; background: #330000; }  
.line3 a {display:inline-block;position: absolute; top:15px; left:50%;
       transform: translateX(-50%);height:15px;}  
.line3 img {height:80%;}

.line3>h4{margin-bottom: 50px;}

h4{margin-bottom: 20px;}
.map{width: 100%; }
.map>div{width: 100%!important;}



h5.line4 { position: relative; text-align: center; padding: 40px 16px 0 16px !important;
        margin-bottom: -14px; margin-top: 40px;}
.line4:before {position: absolute; top:23px; left:4.4%; text-align: center;
             content:""; width:91.2%; height:1px; background: #330000; }  
.line4 a {display:inline-block;position: absolute; top:15px; left:50%; /*top로 가운데 글씨이미지 조절*/
       transform: translateX(-50%);height:15px;}  
.line4 img {height:90%;}

#sns {text-align: center; padding: 30px;  margin-top: 2rem;}
#sns ul li{display: inline-block;}
#sns ul li img{width: 35px; margin-right: 15px;}

#pic {width:100%; text-align: center; margin-top: 2rem; margin-bottom: 8rem;}
#pic ul li {float:left; width:33.33%; padding: 5px;}
#pic ul li img {width:100%;}
#pic li:hover img { opacity: 1; animation: flash 3s; }
@keyframes flash {
      0% {
          opacity: 0.4;
      }
      100% {
          opacity: 2;
      }
  }


#footer {background: #ff97c6c7; width: 100%; }

  .site {position: relative; width:33%; float:right; background:#fff; 
        padding:0 0 0 0; position:relative; right: 55px; bottom: 68px;  }

  .site button {width:100%; height:32px; padding-left:11px; border-radius: 5px;
          border: 1px solid #d1cecc;
          background:#fff url(../img/b0.png) no-repeat 100% 0;
          color: #000000; font-size: 9px;  text-align: left;
          box-shadow: 2px 2px 2px 0px rgb(234, 233, 232,0.8); }  
  .site ul {
      width:100%; padding:5px 0; border-radius: 5px 5px 0 0;
      border: 2px solid #d1cecc; background:#fff; display:none; }
  
  .site a { display: block; height:25px; padding-left: 15px;
      color:#726454; line-height: 25px;}
      

#fmenu {text-align: center; margin:0 auto; padding: 30px 10px; width: 100%;}
#fmenu li {color:#FFF; font-size: 0.8rem; display: inline-block;
        padding-right: 5px; }
.pr{color: #c01c53 !important; font-weight: bold;}


#widget{ line-height: 1.5em;  padding: 40px; line-height:1.5rem;}
#widget li{color: #FFF;}
#widget strong{ color:white; font-weight:bold;
      font-size: 1.5rem; line-height: 60px;}
.w1{float: left;width: 40%;}
.w1>li:last-child{font-size: 0.75rem;}
.w2{ width: 45%; float: right;}

#f_sns { display: block; padding-left: 40px;}
#f_sns li{display: inline-block;position: relative;   right: 125px; }
#f_sns strong{color:white; font-weight: bold; font-size: 1.5rem; line-height: 60px;}
#f_sns img{width:40px; padding: 30px 0;  margin-right: 10px; margin-top: 10px; }

.info {float:left; 
       font-size:11px;
       width: 100%; margin:0 auto; 
       border-top: 1.5px solid rgb(255, 255, 255);
       color: #ffffff;
       text-align: center;
       margin-bottom: 30px;} 

.foot{text-align: center;}
.info div{margin-top: 20px;}
        
.info1,.info2 {text-align: center;}


.head{
        height: 35%; 
        background: hotpink;
        width: 100%; }

.head button{
        float: left;
}

.head p{
        font-size: 1.3rem;
        color: #FFF;
        line-height: 35px;
        font-family: 'Jua', sans-serif;
}
.head button {
        font-size: 1.1rem;
        border-radius: 50px;
        border: none;
        line-height: 40px;
        width: 40%;
        font-family: 'Jua', sans-serif;
}
.head button{
        color: black;
        margin: 10px;
        font-weight:bold;
}

.head li:nth-child(1){
        padding: 15px 10PX;
        float: left;
}


.nemo{
        background-color: rgb(249, 245, 218);
        border-radius: 20px 50px;
        position: relative;
        bottom:10px;
        width: 95%;
        margin:0 auto;
        
}


.nm li {text-align: center;
        width: 50%;
        float: left;
        padding: 10px;
       
        
}

.nm li span{
        display: block;
        color:rgb(84, 82, 82); 
        font-weight:bold; 
        padding: 10px;
        font-size: border;
        
        
}

.nm img{
        width: 45px;
       
}

